/* Skeleton Loading Animation */
@keyframes shimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}

.skeleton {
  background: #f6f7f8;
  background-image: linear-gradient(
    90deg,
    #f6f7f8 0px,
    #edeef1 40px,
    #f6f7f8 80px
  );
  background-size: 200px 100%;
  background-repeat: no-repeat;
  display: inline-block;
  border-radius: 4px;
  animation: shimmer 1.5s infinite linear;
}

.skeleton-text {
  height: 1em;
  width: 100%;
  margin-bottom: 0.5em;
}

.skeleton-card {
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 8px;
  margin-bottom: 15px;
}

.skeleton-img {
  width: 100%;
  height: 150px;
  background-color: #eee;
  margin-bottom: 10px;
}
